{
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,

    "semi": false,
    "trailingComma": "es5",
    "singleQuote": false,
    "bracketSpacing": true,
    "endOfLine": "lf",

    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css",

    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"]
}
